.btn {
  cursor: pointer;
}

/* ---------------------------HERO------------------------- */

.hero-btn {
  padding: 10px 36px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-focus-color);
  }
}

/* ---------------------------FOOTER------------------------- */

.footer-email-btn {
  display: flex;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-focus-color);
  }
}

.footer-button-icon {
  margin-left: 10px;
}

/* ---------------------------MODAL------------------------- */

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-focus-color);
  }
}

/* ---------------------------PORTFOLIO------------------------- */

.portfolio-filter-btn {
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--first-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
